@use "_global.scss" as g;

body { 
    color: #383e45;
    font-size: 0.9rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
}

img {
    max-width: 100%;
}